<div class="chat-header">
  <div class="lest-header">
    <div class="chat-name1">
      hugefuge
    </div>
  </div>
  <div class="right-header">
      <div class="chat-name2">
      <a herf="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="user-messeage">
        Tom
      </div> 
      <div class="user-data">
        2020/3/31(wed)12:43:30
      </div>
    </div>
    <div class="lower-message">
      <div class="content">
      おはよう
      </div>
    </div>
  </div>
  <div cdlass="message">
    <div class="upper-message">
      <div class="user-message">
        Tom
      </div>
      <div class="user-data">
        2020/3/31(Web)12:43:30
      </div>
     </div> 
    <div class="lower-message">
      <div class="content">
        こんばんわ
      </div>
    </div>
  </div>
</div>

<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>